.ff-field-container > .ff-field-value > .ff-toggle-secret {
    padding: 0 0.5em;
}

.ff-field-container > .ff-field-value > .ff-toggle-secret > div {
    display: flex;
    align-items: center;
    font-size: calc(1.7 * var(--ff-font-size-sm));
    cursor: pointer;
    color: var(--ff-text-muted);
}

.ff-field-container > .ff-field-value > .ff-toggle-secret > div:hover {
    color: var(--ff-text-primary);
}

.ff-field-container.ff-field-inline  > .ff-field-value > .ff-toggle-secret {
    padding-right: .15em;
}