.ff-field-container.ff-number-field > .ff-field-value {
    position: relative;
}

.ff-number-field > .ff-field-value > .ff-number-formatted {
    padding: 0.5em;
    line-height: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.ff-number-field > .ff-field-value > input {
    opacity: 0;
}

.ff-number-field > .ff-field-value:focus-within > input {
    opacity: 1;
}

.ff-number-field > .ff-field-value:focus-within > .ff-number-formatted {
    opacity: 0;
}